<!DOCTYPE html>
<html>

<head>

<title>EcoTrack</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="hero">

<h1>EcoTrack</h1>

<!--<p>
A Smart DBMS-based Waste Collection and
Management Platform for Efficient Urban Waste Handling
</p>-->

<p>
EcoTrack - Smart Waste Collection Scheduling System
</p>

<div class="buttons">

<a href="/register">Register</a>

<a href="/login">User Login</a>

<a href="/admin_login">Admin Login</a>

</div>

</div>

<div class="info-section">

<div class="card">

<h2>Smart Scheduling</h2>

<p>
Area-wise optimized collection timings
</p>

</div>

<div class="card">

<h2>Pickup Requests</h2>

<p>
Users can request urgent pickups easily
</p>

</div>

<div class="card">

<h2>Analytics</h2>

<p>
Track waste management performance
</p>

</div>

</div>

<div class="footer">

<p>
EcoTrack © 2026
</p>

<p>
Smart Waste Collection Scheduling System
</p>

</div>

</body>

</html>