<!DOCTYPE html>
<html>

<head>

<title>Special Pickup Requests</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

{% include 'navbar.html' %}

<h1>Special Pickup Requests</h1>

{% if requests|length > 0 %}

<table>

<tr>

<th>ID</th>

<th>User</th>

<th>Phone</th>

<th>Area</th>

<th>Zone</th>

<th>Reason</th>

<th>Priority</th>

<th>Preferred Day</th>

<th>Preferred Date</th>

<th>Preferred Time</th>

<th>Score</th>

<th>Segregated</th>

<th>Status</th>

<th>Date</th>

<th>Action</th>

</tr>

{% for row in requests %}

<tr>

<td>{{ row[0] }}</td>

<td>{{ row[1] }}</td>

<td>{{ row[2] }}</td>

<td>{{ row[3] }}</td>

<td>{{ row[4] }}</td>

<td>{{ row[5] }}</td>


<td>

<span class="{{ row[6]|lower }}">

{{ row[6] }}

</span>

</td>

<td>{{ row[7] }}</td>

<td>

{% if row[8] %}

{{ row[8].strftime('%d-%m-%Y') }}

{% endif %}

</td>

<td>{{ row[9] }}</td>

<td>{{ row[10] }}</td>

<td>{{ row[11] }}</td>


<td>

<span class="{{ row[9]|lower }}">

{{ row[9] }}

</span>

</td>

<td>{{ row[10].strftime('%d-%m-%Y') }}</td>

<td>

<a href="/update_special_request/{{ row[0] }}/Approved">

Approve

</a>

<br><br>

<a href="/update_special_request/{{ row[0] }}/Completed">

Complete

</a>

<br><br>

<a href="/update_special_request/{{ row[0] }}/Rejected">

Reject

</a>

</td>

</tr>

{% endfor %}

</table>

{% else %}

<h3 style="text-align:center;">

No Special Requests Found

</h3>

{% endif %}

</body>

</html>